@using MambaWeb.Models
@model Team

<div class="container justify-content-center">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Fullname" class="form-label">Fullname</label>
            <input asp-for="Fullname" class="form-control" placeholder="Name Surname...">
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Profession" class="form-label">Profession</label>
            <input asp-for="Profession" class="form-control" placeholder="Content Manager...">
            <span asp-validation-for="Profession" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhotoFile" class="form-label">PhotoFile</label>
            <input asp-for="PhotoFile" class="form-control">
            <span asp-validation-for="PhotoFile" class="text-danger"></span>
        </div>
        <div asp-validation-summary=All style="color:red"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>